.social-icon {
  color: #BABABA;
}

.deviantart:hover {
  color: #05cc46;
}

.facebook:hover {
  color: #3b5998;
}

.github:hover {
  color: #fff;
}

.instagram:hover {
  color: #e1306c;
}

.linkedin:hover {
  color: #0077b5
}

.stackoverflow:hover {
  color: #F48024;
}

.twitter:hover {
  color: #1da1f2;
}

.youtube:hover {
  color: #cd201f;
}
