.facebook, .twitter, .instagram, .youtube, .github, .linkedin, .stackoverflow {
  color: #BABABA;
}
.facebook:hover {
  color: #3b5998;
}

.twitter:hover {
  color: #1da1f2;
}

.instagram:hover {
  color: #e1306c;
}

.youtube:hover {
  color: #cd201f;
}

.github:hover {
  color: #6cc644;
}

.linkedin:hover {
  color: #0077b5
}

.stackoverflow:hover {
  color: #F48024;
}
